<!-- /Project/_part_image.html -->
<p class="h4"><strong><span class="title">{{translate('Hình ảnh cập nhật')}}</span></strong></p>
<div class="row">
    <div class="col-md-4 box_1x">
        <a><div class="project-child">
            <img src="img/tree.jpg" width="100%">
            <p class="padding_top"><strong>{{translate('12/07/2015')}}</strong></p>
        </div></a>
    </div>
    <div class="col-md-4 box_1x">
        <a><div class="project-child">
            <img src="img/tree.jpg" width="100%">
            <p class="padding_top"><strong>{{translate('12/07/2015')}}</strong></p>
        </div></a>
    </div>
    <div class="col-md-4 box_1x">
        <a><div class="project-child">
            <img src="img/tree.jpg" width="100%">
            <p class="padding_top"><strong>{{translate('12/07/2015')}}</strong></p>
        </div></a>
    </div>
</div>
