<!-- /Project/_part_info.html -->
<div class="info">
    <p class="h4 box_1x"><strong><span class="title">{{translate('Thông tin đợt')}}</span></strong></p>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Ngày bắt đầu:</strong> 02/07/2015</p>
            <p><strong>Địa điểm:</strong> Thái Nguyên</p>
        </div>
        <div class="col-md-6">
            <p><strong>Số người tham gia:</strong></p>
            <p><strong>Thành tựu:</strong></p>
        </div>
    </div>
</div>