<!-- /Project/_project_donator.html -->
<div class="row">
    <div class="col-md-12 box_1x">
        <p class="h4"><strong><span class="title">{{translate('Đóng góp')}}</span></strong></p>
        <p class="padding_top"><small><a href="all-donator.php" class="blue_text">{{translate('Xem')}} 129 {{translate('người đóng góp')}}</a></small></p>
    </div>
    <div class="col-md-12">
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
        <p><a href="id.php" class="h4 text-uppercase red_text">Công Văn Quang</a></p>
        <p class="h5">500.000 Đ</p>
        <hr/>
    </div>
</div>