<!-- /Project/_project_info.html -->
<div class="info">
    <p class="h4 box_1x"><strong><span class="title">{{translate('Thông tin dự án')}}</span></strong></p>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Tên dự án:</strong>Trồng cây</p>
            <p><strong>Phân loại dự án:</strong> CO2</p>
            <p><strong>Địa điểm dự án:</strong> Thái Nguyên</p>
        </div>
        <div class="col-md-6">
            <p><strong>Ngày bắt đầu dự án:</strong> 02/07/2015</p>
            <p><strong>Tình trạng dự án:</strong> Đang triển khai</p>
            <p><strong>Thành tựu đạt được:</strong></p>
        </div>
    </div>
</div>