<div class="partner">
    <p class="h4 box_1x"><strong><span class="title">{{translate('Tài trợ')}}</span></strong></p>
    <div class="row box_1x">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <img src="http://placehold.it/57x57">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <p class="text-uppercase">Vietherb</p>
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <img src="http://placehold.it/57x57">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <p class="text-uppercase">Vietherb</p>
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <img src="http://placehold.it/57x57">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <p class="text-uppercase">Vietherb</p>
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <img src="http://placehold.it/57x57">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <p class="text-uppercase">Vietherb</p>
        </div>
    </div>
</div>