{% extends "Layout/layout.html"%}
{% block body %}
<link href="css/project.css" rel="stylesheet">
<div class="gray_bg box_3x project_title">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="h3 blue_text text-uppercase">{{translate('Trồng cây gây rừng')}}</p>
                <p><a>{{translate('Dự án')}}</a> > <a>{{translate('Đợt 1')}}</a></p>
            </div>
            <div class="col-md-4">
                <a href="donate.php"><button class="btn btn-lg btn_width btn_blue">Đóng góp</button></a>
            </div>
        </div>
        <div class="row box_1x">
            <div class="col-md-8">
                {% include 'Project/_part_description.html' %}
            </div>
            <div class="col-md-4">
                {% include 'Project/_project_donator.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
