.project_title .title{
    border-bottom: 3px solid #2980b9;
    width: inherit;
}
.project-child{
    border: 1px solid #e5e5e5;
    background-color: #FFFFFF;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.project-child:hover{
    border: 1px solid transparent;
    box-shadow: 0 0 3px #404040;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.project_show{
    text-align: center;
    background-color: #FFFFFF;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.project_show .title{
    padding: 10px;
}
.project .seemore_btn{
    display: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.project:hover .project_show{
    -ms-filter: brightness(0.2);
    filter: brightness(0.2);
    -webkit-filter: brightness(0.2);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.project:hover .seemore_btn{
    display: block;
    position: absolute;
    top: 116px;
    left: 36%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.view{float: right;}
.view .grid{
    background-image: url("../img/project.png");
    width: 20px;
    height: 20px;
    background-position: 0 0;
    margin: 0 5px;
}
.view .grid.active{
    background-position: 0 20px;
}
.view .line{
    background-image: url("../img/project.png");
    width: 20px;
    height: 20px;
    background-position: 20px 0;
    margin: 0 5px;
}
.view .line.active{
    background-position: 20px 20px;
}
.text_collap {
    display: -webkit-box;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-weight: 400;
}