<!-- _balance_step1_kind2.html -->
<div class="step1_kind row box_1x">
    <div class="col-md-offset-2 col-md-3">
        <p class="text-uppercase"><strong>{{translate('Thời gian muốn trung hòa:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Tháng</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Giá điện tính theo:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Hộ gia đình')}}</option>
            <option>{{translate('Điện kinh doanh')}}</option>
            <option>{{translate('Điện sản xuất')}}</option>
            <option>{{translate('Đối tượng ưu đãi (trường học, bệnh viện ...)')}}</option>
        </select>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Tiền điện trung bình:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">VNĐ/tháng</span>
        </div>
    </div>
</div>