<!-- _balance_step1_data.html -->
<div class="step1_data_1 row box_1x">
    <div class="col-md-offset-2 col-md-3">
        <p class="text-uppercase"><strong>{{translate('Số km đã đi:')}}</strong></p>
        <div class="input-group">
            <input type="text" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Km</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Loại phương tiện:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Xe máy')}}</option>
            <option>{{translate('Ô tô')}}</option>
            <option>{{translate('Xe khách')}}</option>
            <option>{{translate('Minibus')}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <p class="text-uppercase"><strong>{{translate('Loại nhiên liệu:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Xăng')}}</option>
            <option>{{translate('Dầu')}}</option>
            <option>{{translate('Điện')}}</option>
            <option>{{translate('Khí hóa lỏng')}}</option>
        </select>
    </div>
</div>
<div class="step1_data_2 row box_1x">
    <div class="col-md-offset-2 col-md-3">
        <p class="text-uppercase"><strong>{{translate('Khoảng cách:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Km</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Loại phương tiện:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Máy bay thương mại')}}</option>
            <option>{{translate('Máy bay loại nhỏ')}}</option>
            <option>{{translate('Trực thăng')}}</option>
            <option>{{translate('Thủy phi cơ')}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <p class="text-uppercase"><strong>{{translate('Số người đi:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Người</span>
        </div>
    </div>
</div>
<div class="step1_data_3 row box_1x">
    <div class="col-md-offset-2 col-md-3">
        <p class="text-uppercase"><strong>{{translate('Khoảng cách:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Km</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Loại phương tiện:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Tàu chạy dầu')}}</option>
            <option>{{translate('Tàu điện')}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <p class="text-uppercase"><strong>{{translate('Số người đi:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Người</span>
        </div>
    </div>
</div>
<div class="step1_data_4 row box_1x">
    <div class="col-md-offset-2 col-md-3">
        <p class="text-uppercase"><strong>{{translate('Khoảng cách:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Km</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Loại phương tiện:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Phà')}}</option>
            <option>{{translate('Tàu du lịch')}}</option>
            <option>{{translate('Tàu cao tốc')}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <p class="text-uppercase"><strong>{{translate('Số người đi:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Người</span>
        </div>
    </div>
</div>