<!-- Balance/_balance_step1_kind3.html -->
<div class="step1_kind row box_1x">
    <div class="col-md-offset-2 col-md-3">
        <p class="text-uppercase"><strong>{{translate('Thời gian muốn trung hòa:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Tháng</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Lương rác thải trung bình:')}}</strong></p>
        <div class="input-group">
            <input type="number" class="form-control text-right" aria-describedby="basic-addon2">
            <span class="input-group-addon">Kg/Tháng</span>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-uppercase"><strong>{{translate('Loại rác thải:')}}</strong></p>
        <select class="form-control">
            <option>{{translate('Rác thải sinh hoạt')}}</option>
            <option>{{translate('Rác thải công nghiệp')}}</option>
            <option>{{translate('Rác thải phân hủy')}}</option>
            <option>{{translate('Rác thải y tế')}}</option>
        </select>
    </div>
</div>