<!-- /Balance/_balance_step4.html -->
<div class="body_balance box_1x">
    <div class="row box_1x customer_info">
        <div class="col-md-12 text-center">
            <h4><a class="blue_text" data-toggle="modal" data-target="#dangnhap">{{translate('Đăng nhập')}}</a> {{translate('hoặc điền thông tin phía dưới để tiếp tục')}}</h4>
        </div>
        <div class="col-md-offset-2 col-md-6">
            {% include 'Layout/_customer_info.html' %}
            {% include 'Layout/_customer_creataccount.html' %}
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-offset-4 col-md-4">
            <a><button class="btn_width round_btn btn_blue btn-lg">{{translate('thanh toán')}}</button></a>
        </div>
    </div>
</div>