<!-- /Balance/_balance_step3.html-->
<div class="body_balance box_1x">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 text-center">
                <h4>{{translate('Lựa chọn hình thức thanh toán')}}</h4>
            </div>
            <div class="col-md-12">
                <label><input type="radio" name="payment" id="payment_1"> <strong>{{translate('Thanh toán bằng thẻ ATM')}}</strong></label>
                <div class="display_none pay_description_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
            </div>
            <div class="col-md-12">
                <label><input type="radio" name="payment" id="payment_2"> <strong>{{translate('Thanh toán bằng thẻ quốc tế')}}</strong></label>
                <div class="display_none pay_description_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
            </div>
            <div class="col-md-12">
                <label><input type="radio" name="payment" id="payment_3"> <strong>{{translate('Thanh toán chuyển khoản')}}</strong></label>
                <div class="display_none pay_description_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
            </div>
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-offset-4 col-md-4">
            <a href="thank-you.php"><button class="btn_width round_btn btn_blue btn-lg">{{translate('Hoàn tất')}}</button></a>
        </div>
    </div>
</div>