<!-- /Balance/_balance_step3.html-->
<div class="body_balance">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="row">
                <div class="col-md-12 box_1x">
                    <p class="padding_top">{{translate('Số tiền tương ứng với')}} <strong>{{translate('1 tấn CO2')}}</strong> {{translate('là:')}}</p>
                    <div class="input-group">
                        <input type="text" class="form-control text-right" aria-describedby="basic-addon2" disabled>
                        <span class="input-group-addon" id="basic-addon2">{{translate('VNĐ')}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box_1x">
                    <p><strong>{{translate('Phương thức thanh toán')}}</strong></p>
                    <select class="form-control">
                        <option>{{translate('Thanh toán online')}}</option>
                        <option>{{translate('Thanh toán chuyển khoản')}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row box_1x">
        <div class="col-md-offset-4 col-md-4">
            <button class="btn_width round_btn btn_blue btn-lg">{{translate('Thanh toán')}}</button>
        </div>
    </div>
</div>