<!-- /Layout/_customer_info.html -->
<div class="row padding_top">
    <div class="col-md-offset-4 col-md-8">
        <label>
            <input type="checkbox" value="open_account"> Tôi muốn mở tài khoản để theo dõi giao dịch
        </label>
    </div>
</div>
<div id="show_open_account">
    <div class="row padding_top">
        <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Mật khẩu:')}}</strong></p></div>
        <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
    </div>
    <div class="row padding_top">
        <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Nhập lại mật khẩu:')}}</strong></p></div>
        <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
    </div>
</div>