
<!-- /Layout/_customer_info.html -->
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Họ tên:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
</div>
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Email:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
</div>
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Điện thoại:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
</div>
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Quốc gia:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
</div>
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Thành phố:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
</div>
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Địa chỉ:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><input type="text" class="form-control"></div>
</div>
<div class="row padding_top">
    <div class="col-md-4 col-sm-4 col-xs-3 text-right"><p><strong>{{translate('Ghi chú:')}}</strong></p></div>
    <div class="col-md-8 col-sm-8 col-xs-9"><textarea type="text" class="form-control" rows="3"></textarea></div>
</div>