<div class="white_bg box_2x footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h4 class="blue_text">{{translate('Giới thiệu')}}</h4>
                <p><a>{{translate('Về chúng tôi')}}</a></p>
                <p><a>{{translate('Đối tác')}}</a></p>
                <p><a>{{translate('Liên hệ')}}</a></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h4 class="blue_text">{{translate('Hướng dẫn')}}</h4>
                <p><a>{{translate('Cách thức hoạt động')}}</a></p>
                <p><a>{{translate('Sử dụng dịch vụ')}}</a></p>
                <p><a>{{translate('Điều khoản')}}</a></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h4 class="blue_text">{{translate('Cùng tham gia')}}</h4>
                <p><a>{{translate('Đối tác trồng cây')}}</a></p>
                <p><a>{{translate('Đối tác dự án')}}</a></p>
                <p><a>{{translate('Tôi sống xanh')}}</a></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h4 class="blue_text">{{translate('Liên hệ')}}</h4>
                <table>
                    <tr>
                        <td><a><span class="facebook"></span></a></td>
                        <td><a><span class="google"></span></a></td>
                        <td><a><span class="instagram"></span></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="gray_bg box_1x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><a>Dichung.vn © 2015</a></p>
            </div>
        </div>
    </div>
</div>
<div class="up_top">
    <a class='toTop' href='#toTop' title=''></a>
</div>