<!-- /Layout/_layout_payment.html -->
<div class="row">
    <div class="col-md-12 select_money">
        <label><input type="radio" name="donation_money"/> 350.000 VNĐ</label>
        <label><input type="radio" name="donation_money"/> 200.000 VNĐ</label>
        <label><input type="radio" name="donation_money"/> 100.000 VNĐ</label>
        <label><input type="radio" name="donation_money"/> 50.000 VNĐ</label>
        <label><input type="radio" name="donation_money"/> 30.000 VNĐ</label>
    </div>
    <div class="col-md-2">
        <label><input type="radio" name="donation_money"/> Số khác</label>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập số tiền">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">VNĐ</button>
        </span>
        </div>
    </div>
</div>