<!-- /Index/_index_parter.html -->
<div class="gray_bg box_2x parter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="h1">{{translate('Đối tác')}}</p>
                <ul>
                    <li><img src="img/parter/vietherb.png"></li>
                    <li><img src="img/parter/vietherb.png"></li>
                    <li><img src="img/parter/vietherb.png"></li>
                </ul>
            </div>
        </div>
    </div>
</div>