<!-- /Index/_index_benefit.html -->
<div class="white_bg box_2x benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="200">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="khoahoc_icon"></div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h2>{{translate('Khoa học')}}</h2>
                        <p>{{translate('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="200">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="minhbach_icon"></div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h2>{{translate('Minh bạch')}}</h2>
                        <p>{{translate('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="200">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="tienloi_icon"></div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h2>{{translate('Tiện lợi')}}</h2>
                        <p>{{translate('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>