<!-- /Index/_index_startic.html -->
<div class="box_3x text-center static">
    <div class="container">
        <div class="row">
            <ul class="static_list">
                <li><div class="box_2x wow flipInY" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="300">
                    <div class="user"></div>
                    <div class="box_2x">
                        <p class="h1">1000</p>
                        <p class="h4 padding_top">{{translate('Khách hàng sử dụng')}}</p>
                    </div>
                </div></li>
                <li><div class="box_2x wow flipInY" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="300">
                    <div class="project"></div>
                    <div class="box_2x">
                        <p class="h1">6</p>
                        <p class="h4 padding_top">{{translate('Dự án được thực hiện')}}</p>
                    </div>
                </div></li>
                <li><div class="box_2x wow flipInY" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="300">
                    <div class="money"></div>
                    <div class="box_2x">
                        <p class="h1">1.2</p>
                        <p class="h4 padding_top">{{translate('Tỉ đồng được đóng góp')}}</p>
                    </div>
                </div></li>
                <li><div class="box_2x wow flipInY" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="300">
                    <div class="tree"></div>
                    <div class="box_2x">
                        <p class="h1">6000</p>
                        <p class="h4 padding_top">{{translate('Cây được trồng')}}</p>
                    </div>
                </div></li>
                <li><div class="box_2x wow flipInY" data-wow-duration="1s" data-wow-delay="1.3s" data-wow-offset="300">
                    <div class="co2"></div>
                    <div class="box_2x">
                        <p class="h1">6000</p>
                        <p class="h4 padding_top">{{translate('Tấn CO2 giảm thải')}}</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
</div>