<!-- /Index/_index_customer.html -->
<div class="white_bg box_5x customer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 box_2x">
                <p class="h1">{{translate('Đối tượng phục vụ')}}</p>
            </div>
            <div class="col-md-4 col-sm-4 box_2x">
                <a href="customer.php"><div class="red_bg box_2x">
                    <p class="h4">{{translate('Cá nhân')}}</p>
                </div>
                    <div>
                        <img src="img/img_1.jpg" width="100%">
                    </div></a>
            </div>
            <div class="col-md-4 col-sm-4 box_2x">
                <a href="customer.php"><div class="red_bg box_2x">
                    <p class="h4">{{translate('Công ty')}}</p>
                </div>
                <div>
                    <img src="img/img_3.jpg" width="100%">
                </div></a>
            </div>
            <div class="col-md-4 col-sm-4 box_2x">
                <a href="customer.php"><div class="red_bg box_2x">
                    <p class="h4">{{translate('Tổ chức')}}</p>
                </div>
                <div>
                    <img src="img/img_2.jpg" width="100%">
                </div></a>
            </div>
        </div>
    </div>
</div>