<!-- /Index/_index_activities.html -->
<div class="gray_bg box_5x activities text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 box_2x">
                <p class="h1">{{translate('Hoạt động của chúng tôi')}}</p>
            </div>
            <div class="col-md-4 col-sm-4 box_2x wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="200">
                <div class="knowlege"></div>
                <p class="h4 box_2x">{{translate('Nâng cao nhận thức')}}</p>
            </div>
            <div class="col-md-4 col-sm-4 box_2x wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s" data-wow-offset="200">
                <div class="deploy"></div>
                <p class="h4 box_2x">{{translate('Triển khai các dự án giảm thải')}}</p>
            </div>
            <div class="col-md-4 col-sm-4 box_2x wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="200">
                <div class="research"></div>
                <p class="h4 box_2x">{{translate('Nghiên cứu và bảo tồn tài nguyên rừng')}}</p>
            </div>
        </div>
    </div>
</div>