<div class="col-md-2 col-sm-2 col-xs-4 box_1x text-center">
    <div class="user">
        <div class="col-md-8 col-md-offset-2">
            <img src="img/avatar.jpg" width="100%" class="ava">
        </div>
        <p><a href="account-info.php">Lorem Ipsum</a></p>
    </div>
</div>
<div class="col-md-10 col-sm-10 col-xs-8 box_1x">
    <div>
        <p class="h4"><a href="story.php"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></a></p>
        <p class="text_collap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
</div>
        <div class="col-md-12 text-right">
            <p><a href="story.php" class="blue_text">Đọc tiếp »</a></p>
        </div>
        <div class="col-md-12">
            <hr/>
        </div>