{% extends "/Layout/layout.html"%}
{% block body %}
<link href="/css/story.css" rel="stylesheet">
<div class="gray_bg box_2x">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center box_2x">
                <p class="h2 blue_text">Câu chuyện sống xanh</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-4 box_1x text-center">
                <div class="user">
                    <div class="col-md-12">
                        <img src="img/avatar.jpg" width="100%" class="ava">
                    </div>
                    <div class="clear"></div>
                    <p class="padding_top"><small><span class="location"></span> Hà Nội</small></p>
                    <p><a href="account-info.php">Lorem Ipsum</a></p>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8 box_1x">
                <div>
                    <p class="h4"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
