<!-- /Customers/_customer_testtimonal.html -->
<div class="testimonal">
    <div class="text_collap">
        <p><a href="story.php"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="user">
        <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-8 text-right box_1x">
                <p><a href="account-info.php"><strong>Lorem ipsum</strong></a></p>
                <p><small>Hà Nội</small></p>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-4">
                <img src="img/avatar.jpg" class="ava" width="100%"/>
            </div>
        </div>
    </div>
</div>