<!-- /Customers/_customer_activity.html -->
<div class="row box_2x">
    <div class="col-md-12 text-center">
        <p class="h3">Các hoạt động xả thải</p>
        <table class="activity">
            <tr>
                <td><div class="tivi"></div></td>
                <td><div class="dieuhoa"></div></td>
                <td><div class="dichuyen"></div></td>
            </tr>
        </table>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <a href="balance.php"><button class="btn btn_width btn_blue btn-lg">Trung hòa khí thải</button></a>
    </div>
</div>